@if($topics | async; as topics) {
    <div class="topicList">
    @for(topic of topics; track topic.ref) {
        <mat-card color="tertiary" appearance="outlined" class="custom-mat-card">
            <mat-card-header>
                <mat-card-title class="topicName">
                    {{topic.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                {{topic.description}}
            </mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="primary" (click)="subscribeToTopic(topic.ref!)">S'abonner</button>
            </mat-card-actions>
        </mat-card>
    }
    </div>
}