<div class="center feed">
    <button mat-raised-button color="primary" [routerLink]="'/post'">Créer un article</button>
    @if($feed | async; as feed) {
        <div class="posts">
            @for(post of feed; track post.id) {
                <mat-card [routerLink]="'/post/' + post.id">
                    <mat-card-header>{{post.title}}</mat-card-header>
                    <mat-card-content fxLayout="column">
                        {{post.created_at | date}} {{post.author?.userName}}
                    </mat-card-content>
                    <mat-card-content fxLayout="column">
                        {{post.content}}
                    </mat-card-content>
                </mat-card>
            }
        </div>
    }
</div>