.topicList {
    display:grid;
    row-gap: 1em;
    column-gap: 0.5em;
    padding: 2em;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .topicList {
        grid-template-columns: 1fr !important;
    }
}

.topicList > * {
    flex: 1 1 0;
    background-color: #eee;
    border-width: 0px;
}

.topicList .mat-mdc-card-actions {
    justify-content: center;
}

.logout {
    color: darkred;
    display: block;
    margin: 1em;
    cursor: pointer;
}

.me {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin: 1em 0 0 0;
}