img.logo {
    height: 3em;
}

.mainContent {
    margin-top: 5em;
}

@media screen and (max-width: 768px) {
    .hideSmallMedia {
        display: none !important;
    }

    .withNav {
        margin-top: 0em !important;
    }
        
}

.mdd-toolbar {
    background-color: white;
    border-bottom: solid 1px darkgrey;
    position: fixed;
    z-index: 200;
    height: 2.5em;
}


mat-nav-list.navLink {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

mat-nav-list.navLink>* {
    margin: 0;
    padding: 0 0.5em;
    width: auto;
    flex: 1 1 1
}

mat-nav-list.navLink mat-icon {
    margin-top: 0.5em;
    //padding-top: 0.5em;
    //width:auto;
    flex: 1 1 1
}

.navLink a {
    font-size: medium;
    cursor: pointer;
}

.navBtnMenu {
    margin-left: auto;
}

.sidenav-container {
    width: 100vw;
    height: 100vh;
}

mat-nav-list.sideNavLink {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    row-gap: 0 auto;
}

mat-nav-list.sideNavLink>a {
    align-self: flex-start;
}

mat-nav-list.sideNavLink>a:first-child {
    margin-top: 3.5em;
}

mat-nav-list.sideNavLink>a:last-child {
    margin-top: auto;
    align-self: flex-end;
    padding: 0 1em;
    text-align: center;
}