<button mat-icon-button routerLink="/feed">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="login">
    <div class="form-flex-container">
                
                <h1>Créer un nouvel article</h1>

            <form class="mt2" [formGroup]="form" (ngSubmit)="submit()">
                <mat-form-field appearance="outline" class="w100p">
                    <mat-label>Thème</mat-label>
                    <mat-select ngDefaultControl formControlName="topic">
                        @for(topic of $topics | async; track topic.ref) {
                            <mat-option [value]="topic.ref">
                                {{topic.name}}
                            </mat-option>
                        }
                    </mat-select>
                  </mat-form-field>
                <mat-form-field appearance="outline" class="w100p">
                    <mat-label>Titre</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="outline" class="w100p">
                    <mat-label>Contenu</mat-label>
                    <textarea matInput rows="8" formControlName="content"></textarea>
                </mat-form-field>
                <div>
                    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                        Créer
                    </button>
                </div>
            </form>
    </div>
</div>